
<div>
	<button> <a href="#!studentList"> Πίσω </a></button>
		<form name="registration" ng-submit="register(addstudent)">
			<h5>*Υποχρεωτικά πεδία</h5>
			<table>
				<tr>
				<td>*Name: </td>
				<td><input type="text"  name="name" ng-model="addstudent.Name" placeholder="User Name"required></td>
				</tr>
				<tr>
				<td>*Title: </td>
				<td><input type="text" name="title" ng-model="addstudent.Title" placeholder="Title"required></td>
				</tr>
				<tr>
				<td>Email: </td>
				<td><input type="email" name="email" ng-model="addstudent.Email" placeholder="Email"></td>
				</tr>
				<tr>
				<td colspan="2" style="text-align:center"><button type="submit">Εισαγωγή</button></td>
				</tr>
			</table>
		</form>
</div>