.list-header{
	padding:10px;
	cursor:pointer;
	display:block;
}

.list-header:hover {
	background:#7893AB;
	color:#fff;
}

.details {
	display:none;
	padding:20px;
}

li {
	list-style:none;
	}

.returnButton{
	display:none;
}