<html>
<head>
	<meta charset="utf-8">
	<link rel="stylesheet" type="text/css" href="style.css">
	<script src="data.json"></script>
	<script src="underscore.js"></script>
	<script src="jquery.js"></script>
	<script src="backbone.js"></script>
	<script src="json.js"></script>
</head>

<body>

<script type="text/template" id="person-template">
<div class="returnButton">
<button>Previous List</button>
</div>
		<span class="list-header"><%= Name %></span>
		<div class="details">
			Τίτλος πτυχιακής: <%= Title %><br/>
			Email: <a href="mailto:<%= Email %>"><%= Email %></a></br>
		</div>
	</script>
	<ul></ul>
<script>

<!-- Model start here -->
// Person Model
var Person = Backbone.Model.extend({
	defaults: {
		Name: 'unknown',
		Email: 'unknown',
		Title: 'unknown',
		Text: 'unknown'
	}
});

// A List of People
var PeopleCollection = Backbone.Collection.extend({
	model: Person
});
<!-- Model end here -->

<!-- View start here -->
// The View for each Person
var PersonView = Backbone.View.extend({
	tagName:"li",
	className:"invisible",
	
	initialize: function(){
	this.render();
	},
	
	events: {
		"click .list-header": "showDetails",
		"click .returnButton": "showList"
	},
	
	showDetails: function(event) {
		$(event.target).siblings('.details').slideDown('fast');
		$(this.el).removeClass( "invisible" ).addClass( "visible" );
		$(".invisible").hide();
		$(".returnButton").show();
	},
	
	showList: function(){
		$(".details").hide();
		$("ul").find(".visible").removeClass("visible").addClass("invisible");
		$(".invisible").show();
		$(".returnButton").hide();
	},

	template: _.template($('#person-template').html()),
	
	render: function() {
		this.$el.html( this.template(this.model) );
		return this;
	}
});

// View for all Persons
var PeopleView = Backbone.View.extend({
	tagName: 'li',
	
	initialize: function(){
	this.render();
	},
	
	template: _.template($('#person-template').html()),
	
	
	render: function() {
		_.each(this.collection, function(person) {
			this.renderPerson(person);
		}, this);
	},
	
	renderPerson: function(personview) {
	console.log("im in render 2");
	var person = new PersonView({model: personview});
		$("ul").append(person.el);
	}
});
<!-- View end here -->
$(document).ready(function(){

var persons = new PeopleCollection(data);
peopleView = new PeopleView({collection: data})

//display(data);

});
function display(collection){
	console.log(JSON.stringify(collection));
}

</script>
</body>
</html>