<html>
<head>
	<meta charset="UTF-8">
	<link rel="stylesheet" type="text/css" href="style.css">
	<script src="data.json"></script>
	<script src="underscore.js"></script>
	<script src="jquery.js"></script>
	<script src="backbone.js"></script>	
	<!-- <script src="scripts/collection.js"></script>
	<script src="scripts/views.js"></script>
	<script src="scripts/router.js"></script> -->
</head>

<body>
<h3>Backbone Web App</h3>

<div class="invisible">
	<button class="show-form">Εισαγωγή φοιτητή &#8597;</button></br></br>

	<div class="add-form" style="display: none;">
		<h5>*Υποχρεωτικά πεδία</h5>
		<table>
			<tr>
			<td>*Name: </td>
			<td><input class="model-Name" value=""></td>
			</tr>
			<tr>
			<td>*Title: </td>
			<td><input class="model-Title" value=""></td>
			</tr>
			<tr>
			<td>Email: </td>
			<td><input class="model-Email" value=""></td>
			</tr>
			<tr>
			<td colspan="2" style="text-align:center"><button class="add-person">Εισαγωγή</button></td>
			</tr>
		</table>
	</div>
</div>

<script type="text/template" id="person-template">

<div class="returnButton">
	<button>Προηγούμενο</button>
	</br></br>
</div>

	<span class="list-header"><%= Name %></span>
		<div class="details">
			Τίτλος πτυχιακής: <%= Title %><br/>
			Email: <%= Email %></br></br>
			<button class="edit">Επεξεργασία</button>
			<button class="delete">Διαγραφή</button>
			<div class = "edit-details" style="display: none">
				<table>
				<tr>
					<td>Name: </td>
					<td><input class="update-Name" value="<%= Name %>"></td>
				</tr>
				<tr>
					<td>Title: </td>
					<td><input class="update-Title" value="<%= Title %>"></td>
				</tr>
				<tr>
					<td>Email: </td>
					<td><input class="update-Email" value="<%= Email %>"></td>
				</tr>
				<tr>
				<td colspan="2" style="text-align:center"><button class="update">Ενημέρωση</button></td>
				</tr>
				</table>
			</div>
		</div>
	</script>
	<ul></ul>
	
<script>
<!-- Model start here -->
// Person Model
var Person = Backbone.Model.extend({
	urlRoot: 'connection.php/',
	
	validate: function(attrs, options){
		if((attrs.Name == '') || (attrs.Title == '')){
			return "The fields 'Name' and 'Title' can't be empty!";
		}
	},
	
	defaults: {
		Name: '',
		Title: '',
		Email: 'Δεν καταχωρήθηκε'
	}
});
<!-- Model end here -->

<!-- Collection start here -->
// A Collection of People
var PeopleCollection = Backbone.Collection.extend({
	model: Person,
	url: 'connection.php',
	
	comparator: function(student) { // Ταξινομεί το collection
      return student.get('Name').toLowerCase();
    }
});
<!-- Collection end here -->

<!-- Views start here -->
// The View for each Person
var PersonView = Backbone.View.extend({

	model: new Person(),
	tagName: "li",
	className:"invisible",
	
	initialize: function(){
		this.render();
		this.model.on('change', this.Message, this);
	},
	
	template: _.template($('#person-template').html()),
	
	render: function() {
		this.$el.html( this.template(this.model.toJSON()) );
		return this;
	},
	
	events: {
		"click .list-header": "showDetails",
		"click .returnButton": "showList",
		"click .edit": "Edit",
		"click .update": "Update",
		"click .delete": "Remove"
		
	},

	showDetails: function(event) {
		$(event.target).siblings('.details').slideDown('fast');
		$(this.el).removeClass( "invisible" ).addClass( "visible" );
		$(".invisible").hide();
		$(".add-form").hide();
		$(".returnButton").show();
		app.navigate("students/"+this.model.id);
	},
	
	showList: function(){
		$(".details").hide();
		$(this.el).removeClass("visible").addClass("invisible");
		$(".invisible").show();
		$(".returnButton").hide();
		$('.edit-details').slideUp();
		app.navigate("students");
	},
	
	Edit: function(event){
		$('.edit-details').slideDown('fast');
	},
	
	Update: function(){
		var validationModel = new Person();
		validationModel.set({
			Name: this.$('.update-Name').val(),
			Title: this.$('.update-Title').val(),
			Email: this.$('.update-Email').val(),
			validate: true
			});
		//console.log(this.model.attributes);
		if(validationModel.isValid()){
			this.model.save({
				Name: this.$('.update-Name').val(),
				Title: this.$('.update-Title').val(),
				Email: this.$('.update-Email').val()
				},
				
				{	
					success: function () {
						alert("Η ενημέρωση ολοκληρώθηκε με επιτυχία!");
						validationModel.destroy();
					},
					error: function (xhr) {
						console.log("Something went wrong while updating the model");
						console.log(xhr.responseText);
						alert(" Αποτυχία ενημέρωσης φοιτητή, παρουσιάστηκε κάποιο σφάλμα κατα την ενημέρωση!");
					}
				});
			$(this.el).removeClass( "visible" ).addClass( "invisible" );
			$(".details").hide();
			$('.edit-details').slideUp();
			$(".returnButton").hide();
			$(".invisible").show();
			app.navigate("students");
		} else {
			alert(validationModel.validationError);
		}
	},
	
	Message: function(){
		console.log("\nThe student with name '"+ this.model.previous("Name") +"' has updated from:\n",
			"\n Name:  ", this.model.previous("Name"),
			"\n Title: ", this.model.previous("Title"),
			"\n Email: ", this.model.previous("Email"),
			"\n\nto \n",
			"\n Name:  ",this.model.get("Name"),
			"\n Title: ",this.model.get("Title"),
			"\n Email: ",this.model.get("Email")
		);
	},
	
	Remove: function(){
		//console.log("The student '"+ this.model.get("Name") + "' has deleted from your system!");
		
		this.model.destroy({
			success: function(model, xhr){
				console.log("The model is deleted!");
				app.navigate("students");
				//console.log(xhr.responseText);
			},
			error: function(model, xhr){
				//console.log(model.url);
				console.log("Failed to delete model: " + JSON.stringify(model));
				console.log(xhr.responseText);
			}
		});
		$(".invisible").show();
		$('.add-form').hide();
	}
});

// The View for all Persons 
var PeopleView = Backbone.View.extend({

	el: 'ul',
	
	initialize: function(){
		this.render();
		this.collection.on('add', this.render, this);
		this.collection.on('remove', this.render, this);
		this.collection.on('change', this.render, this);
	},
	
	render: function() {
		this.$el.empty();	// 'Αδειάζει' το ul tag
		
		_.each(this.collection.models, function(person) {
			var personview = new PersonView({model: person});
			this.$el.append(personview.$el);
		}, this);
	}
});
<!-- Views end here -->

<!-- Routers start here -->
var StartRouter = Backbone.Router.extend({
	routes:{
		"": "redirect",
		"students/": "redirect",
		"students": "startApp",
		"students/(:any)": "singleContent",
		"*other": "pageError"
	},
	
	pageError: function(other){
		$('ul').empty();
		$('ul').append("<h1>Searched content doesn't exist!!!</h1>");
	},
	
	redirect: function(){
		this.navigate("/students");
		this.startApp();
	},
	
	singleContent: function(any){
		$('ul').empty();
		searchedPerson = new Person();
		searchedPerson.set({id: any});
		searchedPerson.fetch({
			success: function(){
				searchedPerson.on('sync', function(){
					singleView = new PersonView({model: searchedPerson});
					$('ul').append(singleView.$el);
					$('.details').show();
					$(".show-form").hide();
					$('.edit').hide();
					$('.delete').hide();
					$('.update').hide();
				});
			},
			error: function(){
				$('ul').append("<h1>Searched content doesn't exist!!!</h1>");
			}
		});
	},
	
	startApp: function(){
		$(".show-form").show();
		persons = new PeopleCollection();
		persons.fetch(); //This send GET request to the server 'connection.php'
		persons.on('sync', function () {
			peopleView = new PeopleView({collection: persons});
		});
	}
});
<!-- Routers end  here -->


$(document).ready(function(){
	app = new StartRouter();
	Backbone.history.start();
	
	
	// Add Student to DataBase
	$('.add-person').on('click', function(){
		if(($('.model-Name').val() != '')&& ($('.model-Title').val() != '')){
			var personAdd = new Person();
			
			personAdd.save({
				Name: $('.model-Name').val(),
				Title: $('.model-Title').val(),
				Email: checkEmail($('.model-Email').val())
			}, {
				success: function (response) {
					alert("Η εισαγωγή ολοκληρώθηκε με επιτυχία!");
					persons.fetch(); // After save send GET request to the server to get updated list!
					console.log("The student '"+personAdd.get("Name")+"' has been added into your system!");
					
					//Make the form empty
					$('.model-Name').val('');
					$('.model-Title').val('');
					$('.model-Email').val('');
				},
				error: function (model, xhr, err) {
					if(xhr.status == 200){
						alert("This Student's Name or Title exist already");
						console.log(xhr.responseText);
					} 
					else {
						console.log("Something went wrong while saving the model "+ xhr.status);
						alert(" Αποτυχία εισαγωγής φοιτητή, παρουσιάστηκε κάποιο σφάλμα κατα την εισαγωγή!");
					}
				}
			});
		} 
		else {
			alert(" Αποτυχία εισαγωγής φοιτητή,\n παρακαλώ συμπληρώστε τα υποχρεωτικά πεδία!");
		}
	});
		
	// Show form for Add Person event
	$('.show-form').on('click', function(event){
		$(event.target).siblings('.add-form').slideToggle('fast');
	});

});
function checkEmail(email){
	if(email != ''){
		return email;
	}
	else{
		return "Δεν καταχωρήθηκε";
	}
}
</script>
</body>
</html>